<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Apex Bank</title>
    <link rel="stylesheet" href="/static/css/header.css" />
  </head>
  <body>
    <header>
      <img
        class="logo"
        src="/static/assets/apexbank_logo.png"
        alt="apexbank_logo"
      />
    </header>
    <section>
      <div>
        <h2>Bem-vindo</h2>
        <h3>
          Estamos felizes em vê-lo novamente.<br />Por favor, faça login com
          suas credenciais para acessar sua conta.
        </h3>
      </div>
      <form action="">
        <div>
          <label for="email">Email</label>
          <input type="email" name="email" id="email" />
        </div>
        <br />
        <div>
          <label for="password">Senha</label>
          <input type="password" name="password" id="password" />
        </div>
        <br />
        <div>
          <input type="submit" value="Login" />
        </div>
      </form>
      <br />
      <div>
        <label>Não tem uma conta ainda?</label>
        <a href="register.html">Criar Conta</a>
      </div>
    </section>
  </body>
</html>
