<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Apex Bank</title>
    <link rel="stylesheet" href="/static/css/header.css" />
  </head>
  <body>
    <section>
      <img
        class="logo"
        src="/static/assets/apexbank_logo.png"
        alt="apexbank_logo"
      />
      <nav>
        <a href="#">Saque</a>
        <a href="#">Depósito</a>
        <a href="#">PIX</a>
        <a href="#">Cartão</a>
        <a href="#">Conta</a>
        <a href="#">Sobre</a>
      </nav>
    </section>
    <main>
        
    </main>
  </body>
</html>
